body {
    height: 100vh;
    background-color: rgb(180, 157, 157);
    margin: 0;
    font-family: "Roboto Mono", monospace;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;                     
    background-color: rgb(98, 20, 2);
    padding: 10px;                    
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(90, 30, 4, 0.4);
}

.calculation {
    margin-bottom: 20px;
}

.display input {
    width: 100%;
    padding: 15px 10px;
    font-size: 40px;
    background-color: transparent;
    color: white;
    border: none;
    text-align: right;
    outline: none;
}

.display input::placeholder {
    color: rgb(247, 245, 253);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
    gap: 10px;
    margin-top: 10px;
}

button {
    font-size: 15px;
    padding: 15px;                    
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
    color: rgb(12, 8, 104);
}

.digit-button {
    background-color: rgb(248, 229, 158);
}

.digit-button:hover {
    background-color: rgb(235, 210, 120);
}
    

.operation-button {
    background-color: antiquewhite;
}

.operation-button:hover {
    background-color: rgb(230, 210, 190);
   
}

#equal {
    grid-column: span 2;             
    background-color: rgb(218, 174, 174);
}

#equal:hover {
    background-color: rgb(31, 3, 3);
    color: white;
}

#zero {
    grid-column: span 2;              
}

.side-button{
    background-color:white ;
}

.side-button:hover {
     background-color:white ;
}
